/* Todo lo que tenga la clase oculto quedara oculto*/
.oculto{
    display: none;
}

/* Parte de la barra de busqueda*/
#cabecera{
    width: 100%;
    height: 80px;
    display: flex; /*coloca elementos en fila*/
    align-items: center; /* Pone elementos verticalmente*/
    justify-content: space-between; /*Titulo izquierda y menu derecha*/
    padding: 0 30px; /*espacios intermedios*/
    background-color: black;/*color del fondo*/
    border-bottom: 2px solid gold;/*color debajo del borde junto con su estilo*/
    top: 0;/*coloca el header en la esquina izquierda*/
    left: 0;
    z-index: 1000;/*hace que el header quede por encima*/
}

#cabecera h1{
    color: gold;
    font-size: 28px;/*tamaño*/
    letter-spacing: 2px;/*hace que las letras se separen*/
    margin: 0;/*quita los margenes*/
}

nav ul{
    list-style: none;/*quita los puntos de la lista*/
    display: flex;
    gap: 20px;/*espacio entre los botones*/
    margin: 0;
    padding: 0;
}

nav a{
    color: gold;
    text-decoration: none;/*quita los subrayados*/
    font-weight: bold;/*pone el texto en negrita*/
    padding: 8px 14px;/*para que los enlaces parezacan botones*/
    border-radius: 6px;/*redondea las esquinas*/
}

/*Parte intermedia*/
main{
    padding-top: 100px;/*para que el header no se quede debajo del main*/
}



/*Parte del footer*/
footer{
    background-color: black;
    color: gold;
    text-align: center;/*texto centrado*/
    padding: 15px;
    margin-top: 40px;/*separa al footer del contenido*/
    border-top: 2px solid gold;/*color y estilo de la linea arriba del footer*/

}